* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .5px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #495057;
}

::-webkit-scrollbar-thumb:hover {
  background: #212529;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  height: 7rem;
  width: 100%;
  padding: 0 3.5rem;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #212529;
  align-items: center;
  color: #fff;
}

.nav-logo {
  align-content: center;
  height: 4.5rem;
}

.nav-logo img {
  height: 100%;
  width: 8rem;
  object-fit: cover;
  border-radius: 1px;
}

.nav-mid {
  height: 100%;
  width: 100%;
}

.nav-heading-1 {
  height: 50%;
  align-content: center;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

.nav-heading-2 {
  height: 50%;
  align-content: center;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

.logout {
  font-size: 1.6rem;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  transition: transform, background-color 0.2s ease-out;
  transform: none;
}

.logout:hover {
  background: none;
  background-color: #495057;
}

.logout:active {
  transform: translateY(3px);
}

main {
  height: calc(100vh - 7rem);
  width: 100%;
  display: flex;
  margin-top: 7rem;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.5rem;
  width: 40rem;
  background: #343a40;
  color: #fff;
  overflow-y: auto;
  overflow-x: scroll;
  text-wrap: nowrap;
}

.menu {
  min-width: max-content;
}

.menu:not(:last-child) {
  margin-bottom: 1rem;
}

.menu-list {
  min-width: max-content;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.menu-list-heading {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.arrow {
  height: 1rem;
}

.arrow.rotate {
  transform: rotate(90deg);
}

.sub-menu {
  background-color: #495057;
  border-radius: 3px;
  padding: 1rem;
  display: none;
  min-width: max-content;
}

.sub-menu-list {
  font-size: 1.35rem;
  padding-left: 1rem;
  cursor: pointer;
  display: flex;
}

.sub-menu-list:not(:last-child) {
  margin-bottom: 1rem;
}

.sub-menu-list img {
  height: 1.4rem;
  margin-right: 0.7rem;
}

.sub-menu.visible {
  display: block;
}

.content {
  width: 100%;
}
